html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

#getDataBtn {
    z-index:10000;   /*μεγάλη τιμή για να μην σκεπαστεί από το χάρτη*/
    position: fixed;
    top:55px;
    left:8px;
    width:98px;
    height:30px;
}

#cleanMarkersBtn {
    z-index:10000;   /*μεγάλη τιμή για να μην σκεπαστεί από το χάρτη*/
    position: fixed;
    top:95px;
    left:8px;
    width:98px;
    height:30px;
}
